<!DOCTYPE html>
<html>
  <head>
    <title>Instantly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">

        <div class="col-lg-12 page-top d-flex align-items-center justify-content-center">
          <h3>Instantly</h3>
        </div>

      </div>

      <%= yield %>

    </div>
  </body>
</html>
